{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'app/about.css' %}">
</head>
<body>
    <h1>Welcome To Home Page</h1><br>
    <a href="/about">Go to About Page</a>
    <br>
    <a href="/django">Go to django Page</a>
    <br>
    <a href="/python">Go to python Page</a>     
    <br>
    <a href="/mvt">Go to mvt Page</a>
</body>
</html>