{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="{% static 'app/django.css' %}">
</head>
<body>
    <h1>Welcome to Python page</h1>
    <p>Pyhton is a high-levele programming language used in various fields</p>
    <ul>
        
        <li>AI</li>
        <li>Data Science</li>
        <li>Web Development</li>
        <li>Game Development</li>
        <li>Cyber Security</li>
        <li>and more....</li>
    </ul>
<br>
    <a href="/">Go to Home Page</a>
    <br>
    <a href="/about">Go to About Page</a>
    <br>
    <a href="/django">Go to django Page</a>     
    <br>
    <a href="/mvt">Go to mvt Page</a>
</body>
</html>